<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.machine2.ne">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".DetailPage"
          />
        <activity android:name=".AddCity"
            android:label="Search"/>
            <activity android:name=".TabFragment1"
                android:label="Weather Details"
            ></activity>
        <activity android:name=".TabFragment2"
            android:label="Forcast Weather"/>
        <activity android:name=".SlidingMainActivity"></activity>

    </application>

</manifest>
